<!DOCTYPE html>
{% extends 'account_book/layout.html' %}
{% block content %}
    {% if messages %}
        <div>
            {% for message in messages %}
                {{ message.tags }}! {{ message.message }}
            {% endfor %}
        </div>
    {% endif %}
    <h2>login</h2>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <p>email</p>
        <input type="email" name="email"><br>
        <p>password</p>
        <input type="password" name="password"><br>
        <input type="submit" value="login">
    </form>
    <a href="{% url 'signup' %}">회원가입</a>
{% endblock %}