html, body {
    height: 100%;
    overflow: hidden;
}
table, tr, td {
    border: 1px solid black;
    border-collapse : collapse;
};
#table_size {
    margin: 5px;
}
.td_size {
    position: relative;
    height: 100px;
    overflow: auto;
}
table {
    table-layout: fixed;
    width: 100%;
}
.transaction {
    position: relative;
    margin: 0.2rem;
    padding: 0.3rem;
    font-size: 0.5rem;
    border: 1px solid gray;
}
#popup {
    position: fixed;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    background-color: #f5f5dc;

}
.insert {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
.insert:after {
    display: inline-block;
    content: "\002b";
    font-size: 1rem;
}
.close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
.close:after {
    display: inline-block;
    content: "\00d7";
    font-size: 1rem;
}